@import 'templates/variables.scss';
.navbar {
    display: flex;
    justify-content: center;
    margin: $line * 2 0;

    button {
        padding: $line;
        background-color: darken($light, 20px);
        font: {
            weight: bold;
        }
        cursor: pointer;
        border: 2px double darken($light, 30px);
    }
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    min-width: 800px;

    .page-maker {
        width: 80%;
        margin: 0 auto;
    }

    table.users {
        border-collapse: collapse;
        margin: 0 auto $line * 2;
        position: relative;

        td,
        th {
          
            border: $line / 10 solid $grey;
            padding: $line;
            input {
                width: 100%;
                border: none;
            }
        }
        thead {
            
            z-index: 2;
            tr {
                th {
                    background-color: lightblue;
                }
                &.sum {
                    th {
                        background-color: darken(lightblue, 25px);
                    }
                }
            }
        }
        tbody {

            box-sizing: border-box;
            z-index: -1;
            

            width: 100%;
            
             transition-property: transform;
                transition-duration: 2s;
            tr {
                box-sizing: border-box;
              
               
                td {
                     
                }
                &:nth-of-type(2n) {
                    background-color: lighten(lightblue, 18px);
                }
                text-align-last: center;
            }
        }
    }
    form {
        border-radius: $line;
        padding: $line;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        button {
            padding: $line;
            background-color: darken($light, 20px);
            font: {
                weight: bold;
            }
            cursor: pointer;
            border: 2px double darken($light, 30px);
        }
        fieldset {
            border: none;
            border-top: $line / 3 solid $light;
            margin-bottom: $line * 1.5;
            legend {
                text: {}
                font: {
                    size: $line * 1.7;
                }
                color: darken($light, 45px);
            }
            input {
                width: 50%;
            }
            &.header {
                flex: 1;
                input {
                    font: {
                        size: $line * 1.8;
                    }
                    text-transform: uppercase;
                }
            }
            &.content {
                textarea {
                    width: 95%;
                    margin: $line *1.5 auto $line /2 auto;
                    line-height: $line * 1.8;
                    padding: $line * 1.7;
                    font: {
                        size: $line * 1.6;
                    }
                    resize: none;
                }
                .add-paragr {}
                .new-paragr {
                    margin-top: $line;
                    padding: $line;
                    border: $line / 2 solid darken($light, 10px);
                    p {
                        line-height: $line * 2.2;
                        padding: 0 $line * 2;
                        &::first-letter {
                            padding-left: $line *3;
                            font: {
                                size: $line *2;
                                weight: bold;
                            }
                        }
                    }
                    button {
                        padding: $line / 2 $line * 2.5;
                        margin-left: $line * 2;
                        &.edited {
                            display: none;
                        }
                    }
                    textarea {
                        margin: 0;
                    }
                }
            }
            &.files {
                flex: 2;
                input {}
            }
            input,
            textarea
            {
                border: none;
                background: {
                    color: $light;
                }
                padding: $line * 1.5;
            }
        }
    }
}

#DataTables_Table_0_wrapper {
    display: none;
    margin-bottom: $line * 3;
}