@import 'templates/variables.scss';

.closed {
    > *:not(#auction-closed) {
        display: none;
    }
    display: flex;
    justify-content: center;
    align-items: center;

    #auction-closed {
        display: block;
        background: {
            color: $olive;
        }
        border: {
            radius: $line * 2;
        }
        color: $light;
        padding: $line / 2;
        text: {
            align: center;
        }
        font: {
            size: $line * 3;
        }

        span,
        a {
            margin: $line / 2;
        }

        a {
            display: inline-flex;
            justify-content: center;
            padding: $line / 2 $line * 2;
            text: {
                decoration: none;
            }
            color: $light;
            font: {
                weight: bold;
            }
            background: {
                color: $dark;
            }
            border: {
                radius: $line * 2;
            }

            img {
                height: $line * 3;
                margin: 0 $line 0 0;
            }

            &:hover {
                box-shadow: 0 0 $line / 2 0 $light;
            }
        }
    }
}

#fullscreen {
    position: fixed;
    height: 100%;
    width: 100%;
    background: {
        color: fade_out($olive, 0.1);
    }
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $light;

    .fullscreen {
        @include button();
        margin: 0;
        color: $light;

        font: {
            size: $line * 4;
        }
    }
}

#auction-closed {
    display: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: stretch;

    section {
        display: flex;
        flex-direction: column;

        &.info {
            flex-basis: 30%;
            margin: 0 $line * 2 0 0;
            padding: 0 0 $line * 2 $line * 2;

            .chat {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                border: {
                    color: $dark;
                    style: solid;
                    width: $line / 2;
                    radius: $line;
                }

                background: {
                    color: $light;
                }

                color: $dark;

                h2 {
                    background-color: $dark;
                    margin: 0;
                    padding: 0 0 $line / 2;
                    text: {
                        align: center;
                    }
                    color: $light;
                }

                .messages {
                    overflow: {
                        y: scroll;
                        x: hidden;
                    }
                    @include scroll();
                    flex-grow: 1;
                    padding: 0;

                    .wrapper {
                        width: 100%;
                        height: 100%;

                        display: flex;
                        flex-direction: column-reverse;
                        justify-content: flex-end;

                        .message {
                            position: relative;
                            margin: 0;
                            padding: 0;

                            min-height: $line * 2;

                            border: {
                                style: solid;
                                width: $line / 5;
                                color: $dark;
                                top: none;
                                right: none;
                                left: none;
                            }

                            &.admin {
                                background: {
                                    color: transparentize($bluegrey, 0.5);
                                }
                            }

                            span {
                                font: {
                                    weight: bold;
                                    size: $line * 1.5;
                                }
                                margin: 0 0 0 $line / 2;
                                padding: $line / 4 $line / 2 $line / 4 0;
                                color: $dark;
                                display: inline-block;

                                &.time {
                                    border: {
                                        style: solid;
                                        width: $line / 5;
                                        color: $dark;
                                        top: none;
                                        bottom: none;
                                        left: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .stream {
                margin: 0 0 $line 0;

                iframe {
                    width: 100%;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &.trade {
            flex-basis: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 0 $line * 2 $line * 2 0;

            .auction-table {
                width: 100%;
                min-height: 50%;

                border: {
                    color: $dark;
                    style: solid;
                    width: $line / 2;
                    radius: $line;
                }
                background: {
                    color: $light;
                }
                text: {
                    align: center;
                }
                font: {
                    size: $line * 1.5;
                    weight: bold;
                }

                tbody {
                    .value,
                    .attribute,
                    .attr-value {
                        color: $light;
                        padding: $line;
                    }

                    .value {
                        background: {
                            color: $dark;
                        }
                        border: {
                            top-right-radius: $line;
                            bottom-right-radius: $line;
                        }

                        &.customers-applied .customer:hover {
                            cursor: pointer;
                            text: {
                                decoration: underline;
                            }
                        }

                        &.attention {
                            background: {
                                color: $bluegrey;
                            }
                            font: {
                                size: $line * 2;
                            }
                        }
                    }

                    .attribute {
                        background: {
                            color: $olive;
                        }
                        text: {
                            align: right;
                        }
                        font: {
                            weight: normal;
                        }
                        border: {
                            top-left-radius: $line;
                            bottom-left-radius: $line;
                        }
                    }

                    .attr-value {
                        background: {
                            color: $dark;
                        }
                        border: {
                            radius: $line;
                        }
                    }

                    tr:nth-of-type(2) {
                        .attribute:last-child {
                            border: {
                                top-right-radius: $line;
                                bottom-left-radius: 0;
                            }
                        }
                    }

                    tr:nth-of-type(3) {
                        .value:last-child {
                            border: {
                                top-right-radius: 0;
                                bottom-left-radius: $line;
                            }
                        }
                    }
                }
            }

            .actions {
                min-height: $line * 10;
                display: flex;
                overflow: hidden;
                color: $bluegrey;

                border: {
                    color: $dark;
                    style: solid;
                    width: $line / 2;
                    radius: $line;
                }
                background: {
                    color: $light;
                }

                margin: $line * 2 0 0;

                .action {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    border: {
                        style: solid;
                        color: $dark;
                        width: $line / 2;
                    }
                    overflow: hidden;

                    &.take-part {
                        border: {
                            bottom: none;
                            left: none;
                            top: none;
                        }

                        .take-part {
                            @include button($olive);
                            margin: 0;
                            color: $light;
                            flex-basis: 100%;
                            text: {
                                transform: uppercase;
                            }
                            border: {
                                radius: 0;
                            }
                        }
                    }

                    &.leave {
                        border: {
                            bottom: none;
                            right: none;
                            top: none;
                        }

                        margin: 0 auto 0 0;

                        .leave {
                            @include button(darken($offline, 10%));
                            margin: 0;
                            color: $light;
                            flex-basis: 100%;
                            text: {
                                transform: uppercase;
                            }
                            border: {
                                radius: 0;
                            }
                        }
                    }

                    &.raise {
                        flex-grow: 1;

                        .fieldset {
                            margin: 0;
                            padding: 0;
                            border: none;

                            display: flex;
                            flex-grow: 1;

                            input[type="number"] {
                                text: {
                                    align: center;
                                }
                                font: {
                                    size: $line * 1.8;
                                    weight: bold;
                                }
                                color: $dark;
                                background: {
                                    color: $light;
                                }
                                border: none;
                                display: block;
                                padding: 0 $line / 2 0 0;
                                max-width: 20%;

                                &:active,
                                &:focus {
                                    outline: none;
                                    box-shadow: 0 0 $line / 5 $line / 5 $olive inset;
                                }

                                &#raise-by {
                                    &-amount {
                                        width: $line * 10;
                                    }
                                    &-steps {
                                        width: $line * 10;
                                    }
                                }
                            }

                            label {
                                display: block;
                                color: $light;
                                font: {
                                    size: $line * 1.4;
                                    weight: bold;
                                }
                                text: {
                                    align: center;
                                }
                                flex-grow: 1;

                                &[for^="raise"] {
                                    background: {
                                        color: $dark;
                                    }
                                    font: {
                                        weight: normal;
                                    }
                                    padding: 0 $line / 5;
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-end;

                                    &:nth-of-type(2) {
                                        justify-content: flex-start;
                                    }
                                }
                            }
                        }

                        button {
                            @include button($olive);
                            margin: 0;
                            padding: $line / 2;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border: {
                                radius: 0;
                            }
                            color: $light;
                            text: {
                                transform: uppercase;
                            }
                            font: {
                                size: $line * 1.4;
                            }
                            flex-grow: 1;
                        }

                        &.amount {
                            border: {
                                bottom: none;
                                right: none;
                                top: none;
                            }
                        }

                        &.steps {
                            border: none;
                        }
                    }
                }
            }

            .users-online {
                min-height: $line * 10;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                border: {
                    color: $dark;
                    style: solid;
                    width: $line / 2;
                    radius: $line;
                }

                background: {
                    color: $light;
                }

                margin: $line * 2 0 0;

                overflow: hidden;

                h2 {
                    background: {
                        color: $dark;
                    }
                    margin: 0;
                    padding: 0 0 $line / 2;
                    text: {
                        align: center;
                    }
                    color: $light;
                }

                .users {
                    flex-grow: 1;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    display: flex;

                    .user {
                        flex-grow: 1;
                        padding: 0;
                        margin: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: {
                            width: $line / 2;
                            color: $dark;
                            style: solid;
                            left: none;
                            top: none;
                            bottom: none;
                        }
                        background: {
                            color: $offline;
                        }

                        font: {
                            weight: bold;
                        }
                        color: $dark;

                        transition: {
                            duration: $time / 2;
                            timing-function: linear;
                        }

                        &:last-of-type {
                            border: none;
                        }

                        &.online {
                            background: {
                                color: $online;
                            }
                        }
                    }
                }
            }
        }
    }
}