@import "templates/variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: {
    color: fade_out($bluegrey, 0.8);
    image: url("../images/bgledn.png");
    size: 100% 100%;
    repeat: no-repeat;
    position: center;
    blend-mode: overlay;
  }

  main {
    background: {
      color: fade_out($light, 0.2);
    }
    height: $line * 25;
    position: relative;

    display: flex;
    justify-content: space-around;

    .logo {
      height: 100%;
      flex-grow: 2;
      text-align: right;

      img {
        height: 100%;
        filter: drop-shadow($line / -5 $line / 5 $line / 2 $dark);
      }
    }

    .content {
      flex-grow: 4;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .name {
        width: $line * 80;
        color: $olive;
        margin: $line 0 0;
        font: {
          size: $line * 7;
        }

        text-shadow: $line / -10 $line / 10 0 $dark;

        text: {
          transform: uppercase;
          align: center;
        }
      }

      .buttons {
        width: $line * 80;
        min-height: $line * 10;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          background: {
            color: fade_out($olive, 0.1);
          }
          padding: $line;
          margin: 0 $line $line 0;
          flex-basis: 40%;

          font: {
            weight: bold;
            size: $line * 2.5;
          }
          text: {
            decoration: none;
            align: center;
          }
          color: $light;

          border-radius: $line;

          box-shadow: $line / 5 $line / 5 $line / 2 0 $dark;

          &:hover {
            background: {
              color: $olive;
            }
          }
        }
      }
    }
  }
}