@import 'templates/variables.scss';

.lots {
    min-width: $line * 70;
    max-width: 60%;
    margin: 0 auto;
     
    .lot-list {
        display: inline-flex;
        flex-direction: column;

        border: $line / 2 solid $dark;
        border-radius: $line * 2;
        
        background-color: $light;
        padding: 0;
        margin: 0;
        
        h2 {
          background-color: $dark;
          margin: 0 0 $line 0;
          padding: $line / 2;
          text-align: center;
        }
        
        .lot {
            padding: $line;
            height: $line * 10;

            display: flex;
            justify-content: space-between;
            position: relative;

            &:not(:last-of-type) {
              border: {
                bottom: $line / 2 solid $dark;
              }
            }

            article{
              @include scroll;
              flex-grow: 1;

              height: 100%;
              overflow-y: scroll;
              align-self: flex-start;

              margin: 0 $line;
              color: $bluegrey;

              h3 {
                margin: 0;
                padding: 0 0 0 $line;

                text: {
                  transform: uppercase;
                }
                color: $dark;

                small {
                   margin-left: 1%;
                   text-transform: lowercase;
                   color: $olive;
                }
              }

              .description {
                margin: 0;

                &::first-letter {
                  font: {
                    weight: bold;
                  }
                  margin: 0 0 0 $line / 2;
                }
              }
            }

            img {
              display: block;
              height: 100%;
            }

            .apply {
              display: flex;
              align-items: center;
              @include button();
              text: {
                align: center;
                decoration: none;
              }
              margin: 0;
              color: $light;
            }
        }
    }
}