@import "templates/variables";

main {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .video {
    border: {
      color: $dark;
      width: $line / 2;
      style: solid;
      radius: $line;
    }
    background: {
      color: black;
    }
    padding: 0;

    flex-shrink: 1;

    h2 {
      margin: 0;
      font: {
        size: $line * 2;
      }

      background: {
        color: $dark;
      }

      text: {
        align: center;
      }
      padding: 0;
    }
  }
}