$line: 10px;
$time: 0.3s;

$dark: #020718;
$bluegrey: #3b525e;
$grey: #97a29e;
$light: #f7ecf3;
$olive: #4d5c33;
$offline: rgba(255, 73, 76, 0.71);
$online: rgba(110, 255, 96, 0.71);

@mixin scroll($size: $line, $track: $dark, $thumb: $light, $shadow: $dark) {
  &::-webkit-scrollbar {
    width: $size;

    &-track {
      background: {
        color: $track;
      }

      &-piece {
        background: {
          color: transparent;
        }
      }
    }

    &-thumb {
      background: {
        color: $thumb;
      }
      box-shadow: 0 0 $size / 5 $size / 10 $shadow inset;

      &:hover {
        background-color: lighten($thumb, 20%);
      }

      &:active {
        box-shadow: 0 0 $size / 2 $size / 10 $shadow inset;
      }
    }
  }
}

@mixin button($color: $dark) {
  margin: $line;
  padding: $line;
  border: none;
  border-radius: $line;
  font-weight: bold;
  background: {
    image: linear-gradient(to bottom, $color, fade-out($color, 0.2));
  }
  transition: {
    duration: $time / 2;
    property: opacity;
    timing-function: linear;
  }
  cursor: pointer;
  opacity: 0.9;
  &:active,
  &:focus {
    outline: none;
  }
  &:active {
    background: {
      image: linear-gradient(to top, $color, fade-out($color, 0.2));
    }
  }
  &:hover {
    opacity: 1;
  }
}

@mixin checkbox($size: $line) {
  display: none;

  ~ .checkbox {
    display: inline-block;
    height: $size;
    width: $size;
    margin: 0 $line;
    background: {
      image: url('../SVG/checkbox-unchecked.svg');
      size: contain;
      repeat: no-repeat;
      position: center;
    }

    transition: {
      duration: $time / 2;
      timing-function: linear;
    }
  }

  &:checked ~ .checkbox {
    background-image: url('../SVG/checkbox-checked.svg');
  }
}

@keyframes blink {
  20% {
    background: {
      color: $bluegrey;
    }
  }
  to {
    background: {
      color: $dark;
    }
  }
}