.lots
{
    min-width: 700px;
    max-width: 60%;
    margin: 0 auto;
}
.lots .lot-list
{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    margin: 0; 
    padding: 0;

    border: 5px solid #020718;
    border-radius: 20px;
    background-color: #f7ecf3;
}
.lots .lot-list h2
{
    margin: 0 0 10px 0;
    padding: 5px;

    text-align: center; 

    background-color: #020718;
}
.lots .lot-list .lot
{
    position: relative; 

    display: -webkit-box; 

    display: -ms-flexbox; 

    display: flex;

    height: 100px;
    padding: 10px;

    -webkit-box-pack: justify;

        -ms-flex-pack: justify;

            justify-content: space-between;
}
.lots .lot-list .lot:not(:last-of-type)
{
    border-bottom: 5px solid #020718;
}
.lots .lot-list .lot article
{
    overflow-y: scroll;

    height: 100%;
    margin: 0 10px;

    color: #3b525e; 

    -webkit-box-flex: 1; 

        -ms-flex-positive: 1; 

            flex-grow: 1;
    -ms-flex-item-align: start;
        align-self: flex-start;
}
.lots .lot-list .lot article::-webkit-scrollbar
{
    width: 10px;
}
.lots .lot-list .lot article::-webkit-scrollbar-track
{
    background-color: #020718;
}
.lots .lot-list .lot article::-webkit-scrollbar-track-piece
{
    background-color: transparent;
}
.lots .lot-list .lot article::-webkit-scrollbar-thumb
{
    background-color: #f7ecf3;
    box-shadow: 0 0 2px 1px #020718 inset;
}
.lots .lot-list .lot article::-webkit-scrollbar-thumb:hover
{
    background-color: white;
}
.lots .lot-list .lot article::-webkit-scrollbar-thumb:active
{
    box-shadow: 0 0 5px 1px #020718 inset;
}
.lots .lot-list .lot article h3
{
    margin: 0;
    padding: 0 0 0 10px;

    text-transform: uppercase;

    color: #020718;
}
.lots .lot-list .lot article h3 small
{
    margin-left: 1%;

    text-transform: lowercase;

    color: #4d5c33;
}
.lots .lot-list .lot article .description
{
    margin: 0;
}
.lots .lot-list .lot article .description::first-letter
{
    font-weight: bold;

    margin: 0 0 0 5px;
}
.lots .lot-list .lot img
{
    display: block;

    height: 100%;
}
.lots .lot-list .lot .apply
{
    font-weight: bold;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    margin: 10px;
    margin: 0;
    padding: 10px;

    cursor: pointer;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    -webkit-transition-duration: .15s;
            transition-duration: .15s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    text-align: center;
    text-decoration: none;

    opacity: .9;
    color: #f7ecf3; 
    border: none;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(top, #020718, rgba(2, 7, 24, .8));
    background-image: linear-gradient(to bottom, #020718, rgba(2, 7, 24, .8));

    -webkit-box-align: center;

        -ms-flex-align: center;

            align-items: center;
}
.lots .lot-list .lot .apply:active,
.lots .lot-list .lot .apply:focus
{
    outline: none;
}
.lots .lot-list .lot .apply:active
{
    background-image: -webkit-linear-gradient(bottom, #020718, rgba(2, 7, 24, .8));
    background-image: linear-gradient(to top, #020718, rgba(2, 7, 24, .8));
}
.lots .lot-list .lot .apply:hover
{
    opacity: 1;
}
