@import 'templates/variables';

.error {
  animation-name: header-scale-error;
  animation-duration: 1.5s;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: $line * 2 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;

    button {
        padding: $line;
        background-color: darken($light, $line * 2);
        font: {
            weight: bold;
        }
        cursor: pointer;
        border: $line / 5 double darken($light, $line * 3);
    }
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: $line * 80;

  overflow: {
    x: auto;
    y: scroll;
  };

  .page-maker {
    display: none;
    width: 80%;
    margin: 0 auto;
  }

  .settings {
    padding: $line;

    form {
      display: flex;
      margin: $line 0 0;

      label {
        padding: $line / 2;
        font: {
          size: $line * 1.5;
        }
        border: $line / 2 double transparentize($bluegrey, 0.7);
        background: {
          color: transparentize($bluegrey, 0.7);
        }
        border: {
          right: none;
        }
        display: flex;
        align-items: center;
      }

      input {
        padding: $line / 2;
        background: {
          color: transparentize($bluegrey, 0.9);
        }
        border: $line / 2 double transparentize($bluegrey, 0.7);
        border: {
          right: none;
          left: none;
        }
        outline: none;
      }

      button {
        padding: $line / 2;
        background: {
          color: transparentize($bluegrey, 0.7);
        }
        font: {
          weight: bold;
        }
        cursor: pointer;
        border: $line / 2 double transparentize($bluegrey, 0.7);
        border: {
          left: none;
        }
        margin: 0;
      }

      &[id^="upload"] {
        label {
          border: {
            right: $line / 2 double transparentize($bluegrey, 0.7);
          }
        }

        input {
          display: none;
        }
      }
    }
  }

  table {
    border-collapse: collapse;
    margin: 0 auto $line * 2;
    width: 100%;
    position: relative;
    text: {
      align: center;
    }

    td,
    th {
      border: $line / 10 solid $grey;
      input {
        width: 100%;
        border: none;
      }
    }

    thead {
      z-index: 2;
      tr {

        &:first-of-type {

          th {
            padding: $line / 5;
          }
        }

        th {
          background-color: lightblue;
          padding: $line / 5 $line * 1.8 !important;

          #upload-lots {
            display: flex;

            label {
              display: block;
              flex-grow: 1;
              background: {
                image: linear-gradient(-30deg, darken(white, 10%), lighten(white, 10%));
              }
              padding: $line;
              border: none;
              outline: none;
              border: {
                radius: $line;
              }
              cursor: pointer;
            }

            #upload {
              display: none;
            }
          }

          #clear-lots {
            display: flex;

            #clear {
              display: block;
              flex-grow: 1;
              background: {
                image: linear-gradient(-30deg, darken(white, 10%), lighten(white, 10%));
              }
              border: none;
              outline: none;
              border: {
                radius: $line;
              }
              cursor: pointer;
              margin: 0;
            }
          }
        }

        &.sum {
          th {
            background-color: darken(lightblue, $line * 2.5);
          }
        }
      }
    }
    tbody {
      box-sizing: border-box;
      z-index: -1;
      width: 100%;

      tr {
        box-sizing: border-box;
        td {
          padding: $line / 5 !important;

          &.ver {

            input[type="text"] {
              padding: $line;
              margin: 0 auto;
              width: 80%;
              border: $line / 5 solid lightblue;
            }

            .verify {
              background: {
                image: linear-gradient(-30deg, darken(lightblue, 10%), lighten(lightblue, 10%));
              }
              padding: $line;
              border: {
                radius: $line;
                top-right-radius: 0;
                top-left-radius: 0;
              }
              cursor: pointer;
            }
          }

          &.delete {
            button {
              background: {
                image: linear-gradient(-30deg, darken(lightblue, 10%), lighten(lightblue, 10%));
              }
              padding: $line;
              border: none;
              outline: none;
              border: {
                radius: $line;
              }
              cursor: pointer;
            }
          }
        }
        &:nth-of-type(2n) {
          background-color: lighten(lightblue, $line * 1.8);
        }
        text-align-last: center;
      }
    }
  }

  .write-article {
    border-radius: $line;
    padding: $line;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    button {
      padding: $line;
      background-color: $pink;
      font: {
        weight: bold;
      }
      cursor: pointer;
      border: $line / 2 double darken($light, $line * 3);
      &.send-article {
        background-color: darken($pink, $line);
        font: {
          size: $line * 2;
        }
      }
      &.watch {
        background-color: darken($pink, $line);
        font: {
          size: $line * 1.5;
        }
      }
    }
    fieldset {
      border: none;
      border-top: $line / 3 solid $light;
      margin-bottom: $line * 1.5;
      legend {
        font: {
          size: $line * 1.7;
        }
        color: darken($light, $line / 2);
      }
      input {
        width: 50%;
      }
      &.header {
        flex: 1;
        input {
          font: {
            size: $line * 1.8;
          }
          text-transform: uppercase;
        }
      }
      &.content {
        textarea {
          width: 95%;
          margin: $line *1.5 auto $line /2 auto;
          line-height: $line * 1.8;
          padding: $line * 1.7;
          font: {
            size: $line * 1.6;
          }
          resize: none;
        }
        .add-paragr {}
        .new-paragr {
          margin-top: $line;
          padding: $line;
          border: $line / 2 solid darken($light, $line);
          p {
            line-height: $line * 2.2;
            padding: 0 $line * 2;
            &::first-letter {
              padding-left: $line *3;
              font: {
                size: $line *2;
                weight: bold;
              }
            }
          }
          button {
            padding: $line / 2 $line * 2.5;
            margin-left: $line * 2;
            &.edited {
              display: none;
            }
          }
          textarea {
            margin: 0;
          }
        }
      }
      &.files {
        flex: 2;
        input {}
      }
      input,
      textarea {
        border: none;
        background: {
          color: $light;
        }
        padding: $line * 1.5;
      }
    }
    article {
      margin-top: $line;
      padding: $line;
      border: $line / 2 solid darken($light, $line);
      p {
        line-height: $line * 2.2;
        padding: 0 $line * 2;
        &::first-letter {
          padding-left: $line *3;
          font: {
            size: $line *2;
            weight: bold;
          }
        }
      }
    }
  }

  .trade {
    width: 90%;
    margin: $line auto 0;

    fieldset {
      text: {
        align: center;
      }
      border: {
        bottom: none;
        left: none;
        right: none;
        color: $green;
      }

      .form-item {
        display: inline-flex;
        max-width: 20%;
        margin: $line;
        padding: $line / 2;
        background: {
          color: transparentize($green, 0.7);
        }
      }
    }

    #start-session-submit {
      display: none;

      + label {
        padding: $line;
        background-color: darken(transparentize($green, 0.7), $line * 2);
        font: {
          weight: bold;
        }
        cursor: pointer;
        border: $line / 2 double darken(transparentize($green, 0.7), $line * 3);
      }
    }
  }

  #loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    font: {
      size: $line * 5;
      weight: bold;
    }
    color: white;
    background: {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

[id$="_wrapper"] {
  text-align: center;
  display: none;
  margin: $line * 3;

  .dataTables_filter,
  .dataTables_length,
  .dataTables_paginate,
  .dataTables_info {
    display: inline-block;
    float: none;
    text-align: center;

    margin: $line;
    padding: $line;

    background-color: lighten(lightblue, $line);

    font: {
      size: $line * 1.5;
      family: Arial;
      weight: bold;
    }
  }
  .dataTables_paginate {
    display: block;
    background-color: white;
  }
}