@import "templates/variables";

body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  width: 75%;
  margin: 0 0 0 auto;

  main {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;

    .auction-table {
      width: 100%;
      border: {
        spacing: $line / 2;
      }
      margin: 0 0 $line;

      td {
        padding: $line / 2;
        background: {
          color: transparentize($green, 0.7)
        }

        &.attribute {
          box-shadow: $line / 5 0 0 0 transparentize($green, 0.7);

          text: {
            align: right;
          }

          &:last-child {
            text: {
              align: center;
            }
          }
        }

        &.value,
        &.attr-value {
          background: {
            color: transparentize($green, 0.9);
          }

          &.customers-applied .customer:hover {
            cursor: pointer;
            text: {
              decoration: underline;
            }
          }
        }

        &.gost {
          text: {
            align: center;
          }
        }
      }
    }

    button {
      padding: $line / 2;
      background: {
        color: darken(transparentize($green, 0.7), $line * 2);
      }
      font: {
        weight: bold;
      }
      cursor: pointer;
      border: $line / 2 double darken(transparentize($green, 0.7), $line * 3);
    }

    .set-final-cost,
    .set-winner,
    .write {
      button {
        border: {
          left: none;
        }
        margin: 0 0 0 $line / -2;
      }

      input {
        padding: $line / 2;
        background: {
          color: darken(transparentize($green, 0.9), $line * 2);
        }
        border: $line / 2 double darken(transparentize($green, 0.7), $line * 3);
        border: {
          right: none;
          left: none;
        }
        outline: none;
        width: $line * 10;
      }

      label {
        padding: $line / 2;
        font: {
          size: $line * 1.4;
        }
        border: $line / 2 double darken(transparentize($green, 0.7), $line * 3);
        background: {
          color: darken(transparentize($green, 0.7), $line * 2);
        }
        border: {
          right: none;
        }
      }
    }

    .write {

      input {
        width: $line * 40;
      }
    }

    .all {
      list-style: none;
      border: {
        top: $line / 5 solid transparentize($green, 0.7);
      }
      margin: $line 0 $line;
      width: 100%;
      padding: 0;

      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;

      .id {
        cursor: pointer;
        padding: $line;
        margin: $line / 2;
        background: {
          color: transparentize($green, 0.7);
        }
        text: {
          align: center;
        }

        &.selected {
          background: {
            color: transparentize($green, 0.5);
          }
        }
      }
    }

    .chat {
      position: fixed;
      top: 0;
      left: 0;
      width: 25%;
      max-height: 100%;
      padding: 0;
      margin: 0;
      overflow: {
        y: scroll;
        x: hidden;
      }

      .messages {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;

        height: 100%;
        width: 100%;

        .message {
          position: relative;
          margin: 0;
          padding: 0;

          min-height: $line * 2;

          border: {
            style: solid;
            width: $line / 10;
            color: transparentize($green, 0.7);
            top: none;
            right: none;
            left: none;
          }

          background: {
            color: transparentize($green, 0.9);
          }

          &.admin {
            background: {
              color: transparentize($bluegrey, 0.5);
            }
          }

          span {
            font: {
              weight: bold;
              size: $line * 1.5;
            }
            margin: 0 0 0 $line / 2;
            padding: $line / 4 $line / 2 $line / 4 0;
            color: $dark;
            display: inline-block;

            &.time {
              border: {
                style: solid;
                width: $line / 5;
                color: transparentize($green, 0.7);
                top: none;
                bottom: none;
                left: none;
              }
            }
          }
        }
      }
    }

    .users {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: flex;

      border: {
        color: transparentize($green, 0.7);
        style: solid;
        width: $line / 5;
      }

      background: {
        color: transparentize($green, 0.9);
      }

      .user {
        flex-grow: 1;
        padding: $line * 2;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: {
          width: $line / 5;
          color: transparentize($green, 0.7);
          style: solid;
          left: none;
          top: none;
          bottom: none;
        }
        background: {
          color: $offline;
        }

        font: {
          weight: bold;
        }
        color: white;

        transition: {
          duration: $time / 2;
          timing-function: linear;
        }

        &:last-of-type {
          border: none;
        }

        &.online {
          background: {
            color: $online;
          }
        }
      }
    }

    .timer {
      padding: $line;
      margin: $line / 2;
      background: {
        color: transparentize($green, 0.7);
      }
      text: {
        align: center;
      }
      font: {
        weight: bold;
        size: $line * 2;
      }

      &.selected {
        background: {
          color: transparentize($green, 0.5);
        }
      }
    }
  }
}